
    .subscribe-button {
     background-color: rgb(204,0,0);
     color: white;
     border: none;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 16px;
     padding-left: 16px;
     border-radius: 2px;
     cursor: pointer;
     transition: opacity 0.15s;
     }
     .subscribe-button:hover {
      opacity: 0.7;
  
     }

     .subscribe-button:active {
      opacity: 0.5;
   
      }
     .join-button:hover {
      background-color: rgb(6, 95, 212);
      color: white;
     }

     .join-button:active {
     opacity:0.7;
     }


     .join-button{
      background-color: white;
      border-color: rgb(6, 95, 212);
      border-style: solid;
      border-width: 1px;
      color: rgb(6, 95, 212);
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 16px;
      padding-left: 16px; 
      border-radius: 2px;
      cursor: pointer;
      margin-left: 8px;
      transition: background-color 0.15s, 
     color 0.15s;
     }

     .tweet-button {
      background-color: rgb(29, 155, 240);
      border-color:  rgb(29, 155, 240);
      color: white;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 16px;
      padding-left: 16px;
      border-radius: 18px;
      cursor: pointer;
      margin-left: 8px;
      font-weight: bold;
      font-size: 15px;
      transition:box-shadow 0.15s;
      vertical-align: top;


     }
     .tweet-button:hover {
      box-shadow: 0px 5px 10px
     rgba(0,0,0,0.15);
  
     }
     .big-text {
      font-size:x-large
     }

     .bta {
     color: rgb(0, 113, 113); 
     text-decoration: underline;
     text-decoration-thickness: 1.5px;
     transition: 0.15s;
     cursor: pointer;
     }
     .bta:hover{
      color:rgb(255, 30, 0);

     }

     .in-stock{
     color: rgb(0, 118, 0);
     font-size: large;
     }

     .fdt{
      font-size: large;

      }
      .add-to-cart{
      background-color: rgb(255,216,20);
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 16px;
      padding-left: 16px;
      border-radius: 14px;
      border: none;
      font-weight:bolder;
      cursor: pointer;
     }
      .add-to-cart:hover{
      background-color:rgb(250, 214, 33); ;
     }
     .add-to-cart:active{
      opacity: 0.8;
     }


     .buy-now{
      background-color: rgb(255,164,28);
      height: 25px;
      width: 100px;
      border-radius: 14px;
      border: none;
      font-weight:bolder;
      margin-left: 8px;
      cursor: pointer;
     }
      .buy-now:hover{
      background-color: rgb(228, 145, 21);
      }
     .buy-now:active{
      opacity:0.8;
      }



     .facebook{
     background-color: blue;
     height: 62px;
     width: 108px;
     color: white;
     border: none;
    
     }
     .sign-up {
     padding-top: 11px;
     padding-bottom: 11px;
     padding-right: 20px;
     padding-left: 20px;
     border: none;
     border-radius: 4px;
     background-color: rgb(36, 173, 36);
     color: white;
     cursor: pointer;
     margin-left: 8px;
     transition:box-shadow 0.25s; }


     
     .sign-up:hover {
      box-shadow: 0px 6px 8px rgba(0,0,0,0.15);
   
     }
     .save{
     padding-top: 6px;
      padding-bottom: 6px;
     padding-right: 9px;
     padding-left: 9px;
     border-radius: 15px;
     border-color: rgb(50, 50, 209);
     background-color: white;
     color: rgb(50, 50, 209);
     font-weight: 750;
     cursor: pointer;
     margin-left: 8px;
     margin-right: 8px;
     }
     .save:hover {
     background-color: rgb(207, 207, 252);
  
     }
      .download {
      padding-top: 10px; 
      padding-bottom: 10px; 
      padding-right: 16px;
      padding-left: 16px; 
      border-color: rgb(185, 182, 182); 
      background-color: white;
      font-size: medium;
      font-weight: bold;
      border-radius: 4px;
      transition: 0.15s;
      cursor: pointer;

     }
     .download:hover {
      background-color: rgb(112, 108, 108); 
      color: white;
     }


